.login {
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    min-width: 300px;
    max-width: 500px;
    width: 100%;
}
mat-action-list button {
    transition: .4s;
}
mat-action-list button:hover {
    background-color: #eee;
}
.content {
    margin-top: 40px;
}
/deep/.mat-tab-label {
    width: 100%;
}